.ui.inverted.menu.thunder {
    background-color: #262223;
    height: 60px;
}

.ui.inverted.menu.global.header .menu.search {
    width: 600px;
}

.ui.inverted.menu.global.header .menu.search.right {
    margin-right: 1rem;
}

.ui.inverted.menu.global.header, 
.ui.inverted.menu.global.header .menu.search .item {
    margin: 0;
    width: 100%;
}

.ui.input.search.wrapper > input {
    background-color: #494949;
    color: #fff;
    height: 46px;
    width: 100%;
}

.ui.input.search.wrapper .search.icon {
    color: #fff;
    opacity: 1;
}