body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local],
.ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number],
.ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel],
.ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url],
.ui.button, .ui.header, .ui.list>.item .header,
.ui.statistics .statistic > .value,
h1, h2, h3, h4, h5  {
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  display: flex;
  justify-content: center;
}

.ui.grid {
  width: 100%;
}

.ui.form input[type="text"] {
  border-color: #56ccf2;
}

.ui.list.footer {
  margin-left: 24px;
  margin-bottom: 24px;
}

.ui.list.footer.abs {
  bottom: 0;
  position: absolute;
}

.ui.list.footer > .item {
  padding: 0 2rem;
  border-right: 1px solid #6c6c6c;
  margin-left: 0;
}

.ui.list.footer > .item:last-child {
  border-right: none;
}

.ui.list.footer > .copyright {
  color: #787878;
  font-weight: 400;
}

.ui.list.footer > .link {
  color: #0080DD;
  font-weight: 400;
}

.ui.list.footer > .link:hover {
  text-decoration: underline;
}

.App-logo {
  max-height: 100px;
}

.App {
  width: 100%;
}

.ui.icon.message {
  margin: 1rem;
  text-align: left;
  width: 98%;
}

@media only screen and (max-height: 640px) {
  .ui.list.footer.abs {
    position: relative;
  }
}

@media only screen and (min-height: 641px) {
  .ui.list.footer.abs {
    position: absolute;
  }
}

@media only screen and (max-width: 600px) {
  div.ui.container {
    left: 0;
  }
}
